<div class="page-content">
  <div class="content-block-title"></div>
  
  <div class="card">
    <div class="card-content">
      <div class="card-content-inner">
        <p>차량: {{basicInfo.car.license_number}} 기사: {{basicInfo.user.name}}</p>
        <p>소속: {{basicInfo.user.company.name}} 용량: {{basicInfo.car.size}}</p>
      </div>
    </div>
  </div>

  <div class="content-block">
    Day Report Page
  </div>
</div>

